div h1 {
    font-size: 4rem;
    color: aliceblue;
    text-align: center;
}
.contenedor-input {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.contenedor-input button {
    width: 35px;
    height: 35px;
    border-radius: 8px;
}

.contenedor-input input {
    width: 300px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: gray;
    margin-bottom: 3rem;
    margin-right: 10px;
    color: aliceblue;
}
.contenedor_calculadora {
    width: 500px;
    height: 500px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenedor_botones {
    width: 80%;
    height: 50%;
    
    
}
.contenedor_botones div {
    width: 100%;
    height: 35px;
    padding: 4px;
    
    
}

.contenedor_botones div button {
    width: 80px;
    height: 30px;
}
.contenedor_botones div .fila1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    ;
}
.contenedor_botones div .fila1 button {
    margin-right: 12px;
}

.contenedor_botones div button:hover {
    background-color: #e7e7e7af;
    border: none;
    cursor: pointer;
}