
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./fondo.jpg);
    background-repeat: no-repeat;
    position:absolute;
    width: 100%;
    height: 100vh;
    background-size: cover; 
    overflow-x: hidden;
    overflow-y: hidden;
        }
