
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./fondo.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 45px;
    padding: auto;
background-color: #443b3bc7; 
    border-top: 1px solid #726e6e;
}
.barra_menu{
display: flex; 
align-items: center;
margin-left: 50px;
gap: 15px;
margin-top: 3px;
;
}

.barra_menu label img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 3px;
    margin-right: 40px;
}
.barra_menu label img:hover{
    background-color: rgba(218, 209, 209, 0.452);
    border-radius: 4px;
    border: #3d3b3b;
    transition: all 0.3s ease;
}

.barra_menu a img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 1px;
    margin-left: 10px; 

    
}
.estilo-menu a img:hover{
    /* background-color: rgba(202, 36, 36, 0.452); */
    border-radius: 4px;
    border:  #3d3b3b;
    transition: all 0.3s ease;
}
.estilo-menu a:hover{
    transform: scale(1.1);
}
.estilo-menu a img{
    background-color: none !important;

    transition: none;
}
#btn-menu {
    display: none;
}
.container-menu{
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.input-buscar {
    width: 200px;
    height: 30px;
    border-radius: 8px;
}
.cont-menu {
    position: absolute;

    margin-top: 8%;
    max-width: 450px;
    background: #383737;
    height: 100vh;
    transition: all 500ms ease;
    transform: translateY(100%);
    max-height: 530px;
    border-radius: 2%;
}
#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateY(0%);
}
.cont-menu nav {
    transform: translateY(15%);
}
.cont-menu nav a {
    display: flex;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;


}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
span{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-inline: -6px;
}
span:hover{
    border-bottom: 2px solid rgba(0, 0, 255, 0.507);
    transition: all 0.3s ease;
    cursor: pointer;
}
.input-buscar {
    width: 325px;
    height: 30px;
    border-radius: 8px;
    margin: 50px 0px 0px 40px;
    background-color: transparent;
    border: 0.3px solid green;
    color: #a3a0a0;
    padding-left: 10px;
}

