
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./fondo.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 50px;
background-color: #443b3bc7; 
    border-top: 1px solid #726e6e;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
}
.barra_menu{
display: flex; 
align-items: center;
margin-left: 50px;
gap: 15px;
margin-top: 3px;
}

.barra_menu label img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 3px;
    margin-right: 40px;
}
.barra_menu label img:hover{
    background-color: rgba(218, 209, 209, 0.452);
    border-radius: 4px;
    border: #3d3b3b;
    transition: all 0.3s ease;
}




